@import 'tailwindcss';
@theme { --animate-spin: spin 1s linear infinite; }
@utility spin { animation: var(--animate-spin); }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
